@model webOdev.Models.Antrenor
@{
    ViewData["Title"] = "Yeni Antrenör Ekle";
}

<div class="container mt-4">
    <h2>Yeni Antrenör Ekle</h2>
    <form asp-action="Create">
        <div class="mb-3">
            <label asp-for="AdSoyad" class="form-label">Ad Soyad</label>
            <input asp-for="AdSoyad" class="form-control" />
            <span asp-validation-for="AdSoyad" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="UzmanlikAlani" class="form-label">Uzmanlık Alanı</label>
            <input asp-for="UzmanlikAlani" class="form-control" />
            <span asp-validation-for="UzmanlikAlani" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">Kaydet</button>
    </form>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

}