@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Kişisel Veriler";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<div class="ai-form-container" style="max-width: 100%; margin: 0; text-align: left;">
    <h3>@ViewData["Title"]</h3>
    <p>Hesabınız, hakkınızda topladığımız kişisel verileri içerir. Bu sayfa, bu verileri indirmenize veya silmenize olanak tanır.</p>
    <p>
        <strong>Bu verilerin silinmesi, hesabınızı kalıcı olarak kaldıracaktır ve bu işlem geri alınamaz.</strong>
    </p>

    <div class="mt-4">
        <form id="download-data" asp-page="DownloadPersonalData" method="post">
            <button class="btn btn-primary" type="submit">Verileri İndir</button>
        </form>
        <p class="mt-3">
            <a id="delete" asp-page="DeletePersonalData" class="btn btn-danger">Hesabı Sil</a>
        </p>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}