@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "E-posta Doğrulandı";
}

<div class="account-container">
    <div class="account-form-wrapper">
        <h2>@ViewData["Title"]</h2>
        <p class="subtitle" style="color: green;">
            E-postanızı doğruladığınız için teşekkür ederiz.
        </p>
        <a asp-page="./Login" class="btn btn-primary btn-account">Giriş Yapmak için Tıklayın</a>
    </div>
</div>